.main {
  background-color: rgba(55, 54, 51, 1);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  display: flex;
    justify-content: center;
    align-items: center;

  /* display: flex; */
  /* flex-direction: column; */

  .wrapper {
    
    // align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
    width: 85%;
    gap: 1rem;
    .sectionContainer {
      // box-shadow: 0px 0px 25px 25px rgba(55, 54, 51, 1);
      // padding: 2rem 0;
      max-width: 600px;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      grid-template-areas: "inner-div";
      position: relative;
      .inner {
        // height: 100px;
        // width: 100px;
        grid-area: inner-div;
        width: 100%;
        // height: 100%;
      }
      .backImg {
        z-index: 10;
      }
      .fox,
      .racoon {
        z-index: 30;
      }
      #racoonHead {
        cursor: pointer;
        z-index: 30;
      }

      #foxHead {
        cursor: pointer;
        z-index: 30;
      }
    }
  }
}

.racoonTextContainer {
  z-index: 20;
  pointer-events: none;
  margin-top: 3rem;
  max-width: 60%;
}

.racoonText {
  transition: 0.5s ease-in-out all;
  border-radius: 15px;
  background: #00bfb6;
  padding: 0.5rem 0.6rem;
  text-align: center;
  position: relative;
  z-index: 20;

  
  p {
    color: #fff;
    font-weight: 900;
    transition: 0.5s ease-in-out all;
    font-size: clamp(0.3rem, 3vh, 1rem);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
  }
}
.racoonText:before {
  transition: 0.5s ease-in-out all;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 1.5vh solid #00bfb6;
  border-right: 1.5vh solid transparent;
  border-top: 1.9vh solid #00bfb6;
  border-bottom: 1vh solid transparent;
  left: 5%;
  bottom: -17px;
  z-index: 0;
}