.main {
  background-color: rgba(230, 230, 230, 0.3);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 95%;
    gap: 1rem;
    // height: 100%;
    .stage {
      transition: 1s ease-in-out all;
      max-width: 42vw;
      min-width: 40vw;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      grid-template-areas: "inner-div";
      position: relative;
      border-radius: 40px;
      .inner {
        grid-area: inner-div;
        width: 100%;
        border-radius: 40px;
      }
      .backImg {
        z-index: 10;
      }
      .fox,
      .badger {
        z-index: 30;
      }
      #badgerHead {
        cursor: pointer;
        z-index: 30;
      }

      #foxHead {
        cursor: pointer;
        z-index: 30;
      }
    }
  }
}
