img {
  display: block;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;
 justify-content: center;
  margin: 0;
    padding: 0;
    display: flex;
    /* flex-direction: column; */
}

.backImgContainer { 
  /* width: 100%; */
  height: 100%;
}
.backImg {
    width: 100%; 
  height: 100%;
}

.racoonContainer {
  /* height: 100vh;
    width: 100%; */
  /* position: absolute; */
}

.racoon {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}